/* This solves the issues between nav-pills and react-router */
.sidenav .nav .nav-link:hover {
  background-color: #007bff;
  color: white;
  border-radius: 10px;
}

.news-link:active {
  background-color: #007bff;
  color: white;
  border-radius: 10px;
}

/* ---------------------------------------- */

.added-table {
  justify-content: center;
  align-items: center;
}

.added-content {
  align-items: center;
}

.carousel-country:hover {
  background-color: rgb(223, 223, 223);
}

.carousel-country {
  border-radius: 20px;
  padding: 15px;
  margin-left: 10px;
  background-color: #f1f1f1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.carousel-country-flag:hover {
  transform: scale(1.1);
}

.carousel-country-flag {
  transition: transform 0.2s;
  padding-right: 15px;
}

.row.content {
  min-height: 100%;
}

.sidenav {
  padding-left: 20px;
  width: 300px;
  background-color: #f1f1f1;
  padding-top: 65px;
}

.main-content {
  background-color: #ffffff;
  height: 100%;
  padding-top: 70px;
  padding-left: 40px;
}

.transparent {
  background-color: transparent !important;
}

.left-border-none:focus {
  border-color: #ced4da !important  ;
}

.left-border-none {
  border-left: none !important;
  box-shadow: none !important;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.rec .rec-arrow {
  /* Keeps the carousel arrows center aligned with its children */
  margin-top: 30px;
  margin-bottom: auto;
  /* ------------------------------ */
  border-radius: 0;
  box-shadow: none;
  background-color: white;
  color: #333;
}

.rec .rec-arrow:hover:enabled {
  background-color: white !important;
  color: rgb(114, 114, 114) !important;
  box-shadow: none !important;
}

.rec .rec-arrow:focus:enabled {
  background-color: white !important;
  color: rgb(114, 114, 114) !important;
  box-shadow: none !important;
}

.rec-carousel-item:focus:enabled {
  outline: none;
}

.rec .rec-dot {
  display: none;
}

@media screen and (max-width: 1200px) {
  .sidenav {
    display: none;
  }
}
